<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que será exibido na janela -->
    <title>SistemaYess</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>
    <div class="container button">
        <img src="../public/img/clientes.png" alt="clientes" title="Cadastro de clientes" onclick="cliente()">
        <img src="../public/img/os.png" alt="computador" title=" Emissão OS" onclick="os()">
        
    </div>
    <footer>
        <p id="dataAtual"></p> 
            
    </footer>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/script.js"></script>
    <!-- Rendelizador -->
     <script src="renderer.js"></script>
</body>
</html>